<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dismiss Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFA549C11EBD95E200FF3841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA549D51EBD95E300FF3841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFA549E01EBD95E300FF3841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
